<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="background">  
            <div class="container">
                <div class="left-side">
                    <div class="left-header">
                        <div class="avatar">
                            <img src="img/01.webp" alt="avatar">
                            <div class="nome">
                                <span>Sofia</span>
                            </div>
                        </div>
                        <ul class="icon">
                            <li><i class="fa-solid fa-circle-notch"></i></li>
                            <li><i class="fa-solid fa-message"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>

                    </div>
                    <div class="notifiche">
                        <div class="avatar">
                            <div class="bell"><i class="fa-solid fa-bell-slash"></i></div>
                            <div class="nome-info">
                                <span>Ricevi notifiche di nuovi messaggi</span>
                                <p>Attiva notifiche desktop</p>
                            </div>
                        </div>
                    </div>
                    <div class="search">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="search">
                    </div>
                    <div class="messaggi">
                       <div class="container-messaggi" v-for="(contact,index) in contacts" @click="newChat(index)" :class="activeContact === index ? 'opacity': '' ">
                            <div class="avatar-messaggi">
                                <img :src= contact.avatar alt="image">
                                <div class="nome-messaggi">
                                    <Span>{{contact.name}}</Span>
                                    <p>Ultimo messaggio inviato</p>
                                </div>
                            </div>
                            <div class="orario">
                                <span>12:00</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="right-side">
                    <div class="right-header">
                        <div class="avatar" @click="newChat(index)">
                            <img :src= contacts[activeContact].avatar alt="avatar">
                            <div class="nome">
                                <span>{{contacts[activeContact].name}}</span>
                                <p>Ultimo accesso oggi alle 12:00</p>
                            </div>
                        </div>
                        <ul class="icon">
                            <li><i class="fa-solid fa-magnifying-glass"></i></li>
                            <li><i class="fa-solid fa-paperclip"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>
                    </div>
                    <div class="right-main">
                        <div class="row-inviato" v-for="message in contacts[activeContact].messages" :class="message.status === 'sent' ? 'row-inviato' : 'row-ricevuto'">
                            <div class="box">
                                <p>{{message.message}}</p>
                                <span>15:30</span>
                            </div>
                        </div>
                        <div class="row-ricevuto" :class="ricevi">
                           
                        </div>
                        
                    </div>
                    <div class="right-footer">
                        <span><i class="fa-regular fa-face-smile"></i></span>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="invia">
                        <span><i class="fa-solid fa-microphone"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>