*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* macrostruttura */

.background{
    display: flex;
    height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #d6dbd5 130px, #d6dbd5 100%);
}

.container{
    width: 80%;
    margin: auto;
    height: calc(100vh - 40px);
    background-color:#f3eeea;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
    display: flex;
}

/* Lato sinistro dell'app */
.left-side{
    width: 36%;
    height: 100%;
}

.left-header{
    height: 60px;
    padding: 20px;
    background-color: #eaeaea;
    border-right: 1px  solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon{
    display: flex;
    gap: 20px;
    color: #b1b1b1;
    font-size: 18px;
}

.icon li{
    list-style-type: none;
}

.avatar{
    display: flex;
    align-items: center;
}

.avatar .nome{
    margin-left: 5px;
    font-size: 18px;
}

.avatar p{
    color: #a9a7ab;
    font-size: 12px;
}

.avatar img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.notifiche{
    height: 80px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.nome-info{
    margin-left: 10px;
}

.nome-info p{
    text-decoration: underline;
}

.bell{
   height: 40px;
   width: 40px;
   border-radius: 50%;
   background-color: #f1fafe;
   display: flex;
   align-items: center;
   justify-content: center;
}

.bell i{
    color: #8dd8fb;
}

.search{
    height: 40px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding: 10px;

}

.search button{
    width: 70px;
    padding: 6px;
    background-color: white;
    color: #a9a7ab;
    border: none;
    cursor: pointer;
}

.search input{
    width: 100%;
    padding: 6px;
    background-color: white;
    border: none;
}

/* parte dei messaggi lato sinistro */
.messaggi{
    background-color: white;
    height: calc(100% - 180px);
    overflow: auto;
}

.container-messaggi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #f3eeea;
    cursor: pointer;
}

.avatar-messaggi{
    display: flex;
    align-items: center;
}

.avatar-messaggi img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.nome-messaggi{
    margin-left: 10px;
}

.nome-messaggi span{
    font-size: 18px;
}

.nome-messaggi p{
    color: #a9a7ab;
    font-size: 14px;
}

.orario{
    color: #a9a7ab;
    font-size: 12px;
}

/* Lato destro dell'app */

.right-side{
    width: 64%;
    height: 100%;
    background-color: blue;
}

.right-header{
    height: 60px;
    padding: 20px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.right-main{
    height: calc(100% - 120px);
    background-color: lightgray;
    overflow: auto;
    padding-top: 60px;
    padding-bottom: 40px;
}

.row-inviato{
    display: flex;
    justify-content: end;
}

.row-ricevuto{
    display: flex;
    justify-content: start;
}

.box{
    min-width: 80px;
    max-width: 360px;
    border-radius: 6px;
    margin-top: 20px;
}

.box p{
    padding: 8px 14px;
}

.box span{
    font-size: 12px;
    padding: 0 4px 4px 0;
    color: #6b7376;
    float: right;
}

.row-inviato .box{
    background-color: #d5f9ba;
    margin-right: 60px;
}

.row-ricevuto .box{
    background-color: white;
    margin-left: 60px;
}

.right-footer{
    height: 60px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right-footer input{
    width: 80%;
    padding: 12px;
    background-color: white;
    border: none;
    border-radius: 6px;
}

.right-footer span{
    font-size: 20px;
    color: #6b7376;
}